[submodule "third_party/libuv"]
	path = third_party/libuv
    url = https://github.com/ZHaskell/libuv.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/ZHaskell/zlib.git
[submodule "third_party/cwalk"]
	path = third_party/cwalk
	url = https://github.com/likle/cwalk.git
