[submodule "third_party/libuv"]
	path = third_party/libuv
	url = git@github.com:haskell-Z/libuv.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = git@github.com:haskell-Z/zlib.git
[submodule "third_party/cwalk"]
	path = third_party/cwalk
	url = https://github.com/likle/cwalk.git
[submodule "third_party/base64"]
	path = third_party/base64
	url = https://github.com/aklomp/base64.git
